<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.skyisbule.wxpay.dao.PartakeMapper">
  <resultMap id="BaseResultMap" type="com.github.skyisbule.wxpay.domain.Partake">
    <id column="pid" jdbcType="INTEGER" property="pid" />
    <result column="uuid" jdbcType="CHAR" property="uuid" />
    <result column="prize_id" jdbcType="INTEGER" property="prizeId" />
    <result column="is_lucky" jdbcType="INTEGER" property="isLucky" />
    <result column="nick_name" jdbcType="VARCHAR" property="nickName" />
    <result column="head_pic" jdbcType="VARCHAR" property="headPic" />
    <result column="form_id" jdbcType="CHAR" property="formId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    pid, uuid, prize_id, is_lucky, nick_name, head_pic, form_id
  </sql>
  <select id="selectByExample" parameterType="com.github.skyisbule.wxpay.domain.PartakeExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from db_partake
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from db_partake
    where pid = #{pid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from db_partake
    where pid = #{pid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.github.skyisbule.wxpay.domain.PartakeExample">
    delete from db_partake
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.github.skyisbule.wxpay.domain.Partake">
    insert into db_partake (pid, uuid, prize_id, 
      is_lucky, nick_name, head_pic, 
      form_id)
    values (#{pid,jdbcType=INTEGER}, #{uuid,jdbcType=CHAR}, #{prizeId,jdbcType=INTEGER}, 
      #{isLucky,jdbcType=INTEGER}, #{nickName,jdbcType=VARCHAR}, #{headPic,jdbcType=VARCHAR}, 
      #{formId,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.github.skyisbule.wxpay.domain.Partake">
    insert into db_partake
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pid != null">
        pid,
      </if>
      <if test="uuid != null">
        uuid,
      </if>
      <if test="prizeId != null">
        prize_id,
      </if>
      <if test="isLucky != null">
        is_lucky,
      </if>
      <if test="nickName != null">
        nick_name,
      </if>
      <if test="headPic != null">
        head_pic,
      </if>
      <if test="formId != null">
        form_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="pid != null">
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="uuid != null">
        #{uuid,jdbcType=CHAR},
      </if>
      <if test="prizeId != null">
        #{prizeId,jdbcType=INTEGER},
      </if>
      <if test="isLucky != null">
        #{isLucky,jdbcType=INTEGER},
      </if>
      <if test="nickName != null">
        #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="headPic != null">
        #{headPic,jdbcType=VARCHAR},
      </if>
      <if test="formId != null">
        #{formId,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.github.skyisbule.wxpay.domain.PartakeExample" resultType="java.lang.Long">
    select count(*) from db_partake
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update db_partake
    <set>
      <if test="record.pid != null">
        pid = #{record.pid,jdbcType=INTEGER},
      </if>
      <if test="record.uuid != null">
        uuid = #{record.uuid,jdbcType=CHAR},
      </if>
      <if test="record.prizeId != null">
        prize_id = #{record.prizeId,jdbcType=INTEGER},
      </if>
      <if test="record.isLucky != null">
        is_lucky = #{record.isLucky,jdbcType=INTEGER},
      </if>
      <if test="record.nickName != null">
        nick_name = #{record.nickName,jdbcType=VARCHAR},
      </if>
      <if test="record.headPic != null">
        head_pic = #{record.headPic,jdbcType=VARCHAR},
      </if>
      <if test="record.formId != null">
        form_id = #{record.formId,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update db_partake
    set pid = #{record.pid,jdbcType=INTEGER},
      uuid = #{record.uuid,jdbcType=CHAR},
      prize_id = #{record.prizeId,jdbcType=INTEGER},
      is_lucky = #{record.isLucky,jdbcType=INTEGER},
      nick_name = #{record.nickName,jdbcType=VARCHAR},
      head_pic = #{record.headPic,jdbcType=VARCHAR},
      form_id = #{record.formId,jdbcType=CHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.github.skyisbule.wxpay.domain.Partake">
    update db_partake
    <set>
      <if test="uuid != null">
        uuid = #{uuid,jdbcType=CHAR},
      </if>
      <if test="prizeId != null">
        prize_id = #{prizeId,jdbcType=INTEGER},
      </if>
      <if test="isLucky != null">
        is_lucky = #{isLucky,jdbcType=INTEGER},
      </if>
      <if test="nickName != null">
        nick_name = #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="headPic != null">
        head_pic = #{headPic,jdbcType=VARCHAR},
      </if>
      <if test="formId != null">
        form_id = #{formId,jdbcType=CHAR},
      </if>
    </set>
    where pid = #{pid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.github.skyisbule.wxpay.domain.Partake">
    update db_partake
    set uuid = #{uuid,jdbcType=CHAR},
      prize_id = #{prizeId,jdbcType=INTEGER},
      is_lucky = #{isLucky,jdbcType=INTEGER},
      nick_name = #{nickName,jdbcType=VARCHAR},
      head_pic = #{headPic,jdbcType=VARCHAR},
      form_id = #{formId,jdbcType=CHAR}
    where pid = #{pid,jdbcType=INTEGER}
  </update>
</mapper>